# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.egg-info/
*.ipynb
*.log
*.py[cdio]
*.so
*.swp
*.tmp
*.whl
.DS_Store
.benchmarks/
.cache/
.coverage*
.env*
.hypothesis/
.ipynb_checkpoints/
.localized
.mypy_cache/
.pdbrc
.pytest_cache/
.ruff_cache/
.tox/
.ty_cache/
.venv/
.vscode/*
.zed/*
/.vendor/
/build/
/dist/
/doc/
/site/
__marimo__/
__pycache__/
f1
node_modules/
nohup.out
package-lock.json
pixi.lock
poetry.lock
tmp/
!.vscode/launch.json
!.vscode/tasks.json
!.zed/debug.json
