# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.egg-info/
*.ipynb
*.log
*.py[oc]
*.so
*.swp
*.tmp
*.whl
.benchmarks/
.cache/
.coverage*
.DS_Store
.env*
.hypothesis/
.ipynb_checkpoints/
.localized
.mypy_cache/
.pdbrc
.pytest_cache/
.ruff_cache/
.tox/
.ty_cache/
.vendor/
.venv/
.vscode/*
!.vscode/launch.json
.zed/*
!.zed/debug.json
__marimo__/
__pycache__/
build/
dist/
doc/
f1
node_modules/
nohup.out
package-lock.json
poetry.lock
pixi.lock
site/
tmp/
!/doc/index.md
