# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

*.bak
*.egg-info/
*.ipynb
*.min.js
*.tmp
.benchmarks/
.cache/
.coverage*
.env*
.git/
.hypothesis/
.ipynb_checkpoints/
.localized
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.ty_cache/
.vendor/
.venv/
__pycache__/
build/
node_modules/
package-lock.json
tmp/
{{cookiecutter.project_name}}/
