# MkDocs static site generator configuration file.
#
# For more information, visit https://mkdocs.org/user-guide/configuration.

---
copyright: Copyright &copy; 2020-Present Macklan Weinstein
docs_dir: doc
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/scruffaluff
    - icon: fontawesome/solid/envelope
      link: mailto://macklan.weinstein@gmail.com
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - footnotes
  - meta
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
plugins:
  - search
repo_name: templates
repo_url: https://github.com/scruffaluff/templates
site_author: Macklan Weinstein
site_description: Cookiecutter project templates.
site_dir: build/site
site_name: Templates
site_url: https://scruffaluff.github.io/templates
theme:
  featues:
    - navigation.tabs
  name: material
  palette:
    accent: cyan
    primary: teal
