# Clang Tidy configuration file for linting C++ code.
#
# Form more information, visit https://clang.llvm.org/extra/clang-tidy.

---
Checks:
  - bugprone-*
  - concurrency-*
  - cppcoreguidelines-*
  - misc-*
  - performance-*
  - portability-*
  - readability-*
  - -bugprone-exception-escape
  - -misc-use-internal-linkage
HeaderFilterRegex: "(src|test)/.*"
WarningsAsErrors: "*"
