# Clang-format configuration file for formatting C++ code.
#
# For more information, visit
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html.

---
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BasedOnStyle: Chromium
BreakBinaryOperations: Never
ContinuationIndentWidth: 4
IndentWidth: 4
InsertBraces: true
NumericLiteralCase:
  Suffix: Upper
SortIncludes: true
Standard: c++17
