# Docker configuration file for ignoring paths while collecting context.
#
# For more information, visit
# https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2.

*.bak
*.dockerfile
*.swp
*.timestamp-*
*.tmp
*.tsbuildinfo
.benchmarks/
.cache/
.coverage*
.DS_Store
.env*
.git/
.github/
.gitignore
.gitlab-ci.yml
.localized
.unlighthouse/
.vendor/
.vscode/
.zed/
Dockerfile
node_modules/
nohup.out
test/
tmp/
vite.config.ts.timestamp-*
