# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

*.bak
*.min.js
*.timestamp-*
*.tmp
.benchmarks/
.cache/
.env*
.git/
.localized
.unlighthouse/
.vendor/
build/
node_modules/
package-lock.json
pnpm-lock.yaml
stats.html
tmp/
