# Docker configuration file for ignoring paths while collecting context.
#
# For more information, visit
# https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2.

*.bak
*.egg-info/
*.ipynb
*.log
*.py[cdo]
*.so
*.swp
*.tmp
*.whl
.DS_Store
.benchmarks/
.cache/
.coverage*
.env*
.git/
.github/
.gitignore
.gitlab-ci.yml
.hypothesis/
.ipynb_checkpoints/
.localized
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
.ruff_cache/
.tox/
.ty_cache/
.venv/
.vscode/
.zed/
/.vendor/
/dist/
/test/
Dockerfile
Pipfile
Pipfile.lock
__pycache__/
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
pixi.lock
poetry.lock
requirements.lock
requirements.txt
setup.py
tmp/
