# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.egg-info/
*.ipynb
*.log
*.py[oc]
*.so
*.swp
*.tmp
*.whl
.benchmarks/
.cache/
.coverage*
.DS_Store
.env*
.hypothesis/
.ipynb_checkpoints/
.localized
.mypy_cache/
.pdbrc
.pytest_cache/
.ruff_cache/
.tox/
.ty_cache/
.vendor/
.venv/
.vscode/*
!.vscode/launch.json
.zed/*
!.zed/debug.json
/docs/index.md
__marimo__/
__pycache__/
build/
environment.yml
f1
flit.ini
node_modules/
nohup.out
package-lock.json
Pipfile
Pipfile.lock
pixi.lock
poetry.lock
requirements.lock
requirements.txt
setup.py
tmp/
