# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.log
*.pdb
*.swp
*.tmp
.DS_Store
.benchmarks/
.cache/
.coverage*
.env*
.gdbinit
.lldbinit
.localized
.vscode/*
.zed/*
/.vendor/
/build/
f1
node_modules/
nohup.out
package-lock.json
target/
tmp/
!.vscode/launch.json
!.vscode/tasks.json
!.zed/debug.json
