# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

*.bak
*.log
*.pdb
*.swp
*.tmp
.benchmarks/
.cache/
.coverage*
.DS_Store
.env*
.localized
.vendor/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.zed/*
!.zed/debug.json
build/
f1
node_modules/
nohup.out
package-lock.json
target/
tmp/
