# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

*.bak
*.pdb
*.tmp
.benchmarks/
.cache/
.coverage*
.env*
.git/
.localized
.vendor/
build/
node_modules/
package-lock.json
target/
tmp/
